video-pipeline/n8n_video_script_workflow.json
{
  "name": "Video Script Generator - Richard Abreu",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-script",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 300],
      "id": "webhook-trigger",
      "name": "Webhook Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are Richard Abreu, a creative entrepreneur, veteran, and artist who runs the YouTube channel @CumquatVibes. Write a YouTube script for the following topic.\n\nTOPIC: {{ $json.body.topic }}\nTONE: {{ $json.body.tone || 'professional' }}\nDURATION: {{ $json.body.duration || 'medium' }}\nPILLAR: {{ $json.body.pillar || 'art' }}\nIS_SHORTS: {{ $json.body.is_shorts || false }}\n\nINSTRUCTIONS:\n- Write as Richard Abreu speaking directly to camera\n- The script must contain ACTUAL educational content about the topic, not generic filler\n- Include specific tips, techniques, tools, or steps that someone could follow\n- Use a natural, conversational tone that matches the specified tone\n- For Shorts: Keep it under 75 words. Hook in first 3 seconds. No intro. 2-3 quick points. Short CTA.\n- For Medium: ~150 words. Hook, brief intro, 3 key points, recap, CTA.\n- For Long: ~450 words. Hook, intro, 5+ detailed points with examples, recap, CTA.\n- Include natural pauses (use '...') and engagement questions\n- Reference personal experience where appropriate\n- End with a call to action (subscribe, comment, etc.)\n\nFORMAT:\nReturn ONLY the script text, no headers or metadata. Separate sections with blank lines.\nThe first line should be the hook (most important line for retention).\nThe last section should be the CTA.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [-100, 300],
      "id": "script-agent",
      "name": "Script Generator Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "maxTokensToSample": 2048
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [-200, 500],
      "id": "anthropic-model",
      "name": "Anthropic Chat Model"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "script-output",
              "name": "script",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "topic-output",
              "name": "topic",
              "value": "={{ $('Webhook Trigger').item.json.body.topic }}",
              "type": "string"
            },
            {
              "id": "tone-output",
              "name": "tone",
              "value": "={{ $('Webhook Trigger').item.json.body.tone || 'professional' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 300],
      "id": "format-output",
      "name": "Format Output"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ script: $json.script, topic: $json.topic, tone: $json.tone, generated_by: 'n8n-claude' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [500, 300],
      "id": "respond-webhook",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Script Generator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Generator Agent": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Script Generator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true
  },
  "meta": {
    "description": "Generates YouTube video scripts using Claude AI via webhook. POST to /webhook/generate-script with JSON body: {topic, tone, duration, pillar, is_shorts}"
  }
}
